/* Style for header section */
header {
  padding: 6px;
  background-color: #4e4e4e !important;
}
header .container {
  max-width: 1140px;

  padding-right: 0px;
}
header .container .item {
  margin-top: -20px;
}
.nav-item .nav-link:nth-of-type(1) {
  margin-left: 8px;
}
.nav-item .nav-link {
  font-size: 10px;

  text-decoration: none;
  color: white !important;
}

/* style of banner section */
.banner {
  padding-top: 40px;

  background-color: #fbc600;
}

.banner .row .col-md-6:nth-of-type(1) {
  padding-left: 160px;
  padding-top: 60px;
}
.carousel-item h2 {
  color: rgb(26, 26, 82);
  padding-bottom: 10px;
  font-size: 40px;
}
.carousel-item h4 {
  font-size: 18px;
}
.carousel-item h2 span {
  font-weight: 700;
}
.carousel-item h4 {
  color: rgb(26, 26, 82);
  padding-bottom: 10px;
}
.carousel-item button {
  padding: 8px 24px;
  color: rgb(26, 26, 82);
  border-radius: 4px;
  border: none;
  background-color: white;
  margin-bottom: 15px;
}
.carousel-item p {
  font-weight: 700;
  font-size: 12px;
}

.why-you {
  padding-top: 60px;
  overflow: hidden;
}
.text {
  text-align: center;
}
.why-you .row {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  overflow: hidden;
}
.why-you .row {
  justify-content: center;
}
.why-you .row .col-md-3 {
  padding: 20px;
  border-radius: 8px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid rgba(128, 128, 128, 0.137);
}
.why-you .col-md-3:nth-of-type(1) img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.why-you .row .col-md-3:nth-of-type(3) img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}
.why-you .row .col-md-3 img {
  margin-bottom: 20px;
  padding: 20px;
}
.why-you .text h2 {
  font-size: 38px;
  color: #626262;
}
.why-you .text p {
  margin-bottom: 0px;
}
.why-you .row .col-md-3:hover img {
  background-color: rgb(250, 161, 17);
  padding: 20px;
  -webkit-filter: none;
  filter: none;
  border-radius: 20px;
}

.why-you .row .col-md-3 h4 {
  font-weight: 500;
  color: rgb(26, 26, 82);
  font-size: 16px;
}

.why-you .row .col-md-3:hover {
  border-radius: 5px;
  border-radius: 8px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.best-selling {
  padding-top: 10px;

  overflow: hidden;
  display: relative;
}
.best-selling .container .row {
  padding-bottom: 60px;
}
.best-selling .item ul {
  display: flex;
  padding: 0;
}
.best-selling .text h2 {
  color: #838383;
}
.best-selling .text p {
  color: #b3b3b3;
  padding-bottom: 15px;
}
.best-selling .text h2 span {
  color: #093e72;
}

.best-selling .best-selling .item .card {
  border: none;
  border-radius: 9px;
  margin: 10px;
}

.best-selling .best-selling .item .card .img-fluid {
  border-radius: 20px;
}

.best-selling .item .card:hover {
  box-shadow: 20px 20px 60px #d9d9d9, 20px 60px #ffffff;
}
.best-selling .item .card .card-title {
  font-size: 14px;
  color: rgb(26, 26, 82);
}
.best-selling .item .card .card-title p {
  font-size: 10px;
}
.best-selling .item .card .card-text {
  margin-bottom: 5px;
}
.fa-star:before {
  content: "\f005";
  font-size: 14px;
}

.best-selling .item li {
  list-style: none;
  margin-left: 5px;
}
.best-selling .item li:nth-of-type(1) {
  list-style: none;
  margin-left: 0px;
}

.best-selling .item .button {
  display: flex;
}

.best-selling .item .price {
  display: flex;
}
.best-selling .item .price p:nth-of-type(1) {
  color: rgb(26, 26, 82);
  margin-right: 15px;
  font-size: 19px;
}

.best-selling .item .price p:nth-of-type(2) {
  color: rgb(226, 226, 226);
  font-size: 19px;
}
.best-selling .item .price p {
  margin-left: 5px;
}

.best-selling .item .button li {
  padding: 10px 20px;
  background-color: rgb(236, 236, 236);
}
.best-selling .item .button .btn-primary {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 8px 40px;
  font-size: 16px;
  margin-right: 10px;
}

.best-selling .item .card:hover .button .btn-primary {
  background-color: rgb(26, 26, 82);
}
.button-footer {
  text-align: center;
}
.button-footer button {
  background-color: rgb(236, 236, 236) !important;
  border: none;
  padding: 8px 40px;
  margin-top: -120px;
}
.button-footer button:hover {
  background-color: rgb(26, 26, 82) !important;
}

.button-header button:hover {
  background-color: rgb(26, 26, 82);
  border: none;
  padding: 8px 40px;
}
.button-header {
  text-align: center;
}
.button-header button {
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 8px 40px;
}

.button-header button:hover {
  background-color: rgb(26, 26, 82);
  border: none;
  padding: 8px 40px;
}

.Live-online {
  background-color: #f8f8f8;
  padding-bottom: 180px;
  margin-top: 130px;
}
.Live-online .row .col-md-6:nth-of-type(1) {
  padding-top: 150px;
}
.Live-online .row .col-md-6 img {
  margin-top: -80px;
}
.Live-online h2 {
  color: #00376d;
  font-weight: 700;
}
.Live-online h2 span {
  font-weight: 500;
}

.Become h2 {
}

.Become .row .col-md-6:nth-of-type(2) {
  padding-top: 240px;
}

.Become .row .col-md-6:nth-of-type(2) h2 {
  color: #0e4275;
}
.Become .row .col-md-6:nth-of-type(2) h2 span {
  font-weight: 700;
  color: #00376d;
}
.Become .row .col-md-6:nth-of-type(2) h5 {
  color: #a0a0a0;
}
.Become .row .col-md-6:nth-of-type(2) p {
  color: #4c749a;
  font-weight: 500;
}

.Become .row .col-md-6:nth-of-type(2) .btn-primary {
  padding: 8px 34px;
  background-color: #f29a49 !important;
  border: none;
}

/* style for upcoming */

.Upcoming {
  padding-top: 45px;
  padding-bottom: 60px;

  overflow: hidden !important;
}

.Upcoming .card {
  border-radius: 0px;
}
.Upcoming .card-img-top {
  border-radius: 0px;
}

.Upcoming .text h2 {
  color: #838383;
}
.Upcoming .text h2 span {
  color: #1a4c7c;
  font-weight: 700;
}
.Upcoming .text {
  padding-bottom: 60px;
}
.Upcoming .card-title {
  font-size: 12px !important;
}
.Upcoming .card-text {
  font-size: 10px;
  padding-right: 73px;
}
.Upcoming .card-body {
  display: flex;
}
.Upcoming .icon li {
  display: inline;
}

.Upcoming .button {
  margin: auto;
}
.Upcoming .button .card-button {
  padding: 5px 30px;

  text-decoration: none;
  background-color: transparent;
  color: white;
}

.Upcoming .row .col-md-3 {
}

.Upcoming .card:hover .button .card-button {
  display: block;
  padding: 8px 30px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #4e4e4e;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 15px;
}

.Upcoming .card:hover {
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 13px 13px 30px #a6a6a6, -13px -13px 30px #ffffff;
  overflow: hidden;
}
.Upcoming .card .icon i {
  padding: 12px;
  border: none;
  margin-left: 15px;
}

.Upcoming .card:hover .icon i {
  padding: 12px;
  border: none;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 6px 6px 8px #8a8a8a, -6px -6px 8px #ffffff;
}

.Upcoming .button-footer {
  margin-top: 150px;
  overflow: hidden;
}
.Upcoming .button-footer .btn-primary {
  overflow: hidden;
}

/* Focus */
.Focus {
  padding-top: 65px;
  padding-bottom: 90px;
  overflow: hidden !important;
  background-color: #f8f7f3;
}
.Focus .container .row {
  padding-top: 30px;
}
.Focus .row .col-md-4 {
  text-align: center;
  padding: 40px;
}
.Focus .row .col-md-4 img {
  padding: 25px;
  margin-bottom: 15px;
}

.Focus .row .col-md-4:hover img {
  background-color: rgb(250, 161, 17);
  padding: 25px;
  border-radius: 20px;
}
.Focus .row .col-md-4:nth-of-type(2):hover img {
  background-color: rgb(4, 182, 4);
  padding: 25px;
  border-radius: 20px;
}
.Focus .row .col-md-4:nth-of-type(3):hover img {
  background-color: rgb(218, 218, 9);
  padding: 25px;
  border-radius: 20px;
}
.Focus .row .col-md-4:hover {
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 6px 6px 15px #878787, -6px -6px 15px #ffffff;
}

/* Growing */

.Growing {
  padding-top: 80px;
}

.Growing .inner-body {
  background-image: url(../Img/rectanglebac.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Growing .col-md-6 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.Growing .col-md-6 h2 {
  padding-top: 50px;
  padding-left: 60px;
  font-size: 42px;
}
.Growing .col-md-6 h1 {
  margin-bottom: 0px;
  color: #303030;
  font-size: 50px;
}
.Growing .col-md-6 .btn-primary {
  background-color: #22b060 !important;
  padding: 8px 65px;
  border: none;
  font-size: 13px;
  margin-bottom: 30px;
}
.Growing .col-md-6 p {
  font-weight: 600;
  font-size: 20px;
}

/* Style for World */

.World {
  padding-top: 80px;
  padding-bottom: 80px;
}
.World h1 {
  color: #8b8b8b;
}

.World .row {
  justify-content: center;
}
.World .row .col-md-3 {
  text-align: center;
  padding: 35px;
  margin-left: 49px;
  margin-right: 46px;
  margin-top: 20px;

  border: 0.5px solid rgb(128 128 128 / 14%);
  border-radius: 8px;
}

.World .row .col-md-3:nth-of-type(1) img {
  background-color: orange;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 12px;
}
.World .row .col-md-3:nth-of-type(2) img {
  background-color: rgb(224, 224, 4);
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 12px;
}

.World .row .col-md-3:nth-of-type(3) img {
  background-color: rgb(230, 50, 230);
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 12px;
}

.World .row .col-md-3:hover {
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 35px 35px 39px #cccccc, -35px -35px 39px #ffffff;
}
.World .row:nth-of-type(2) {
  padding-top: 25px;
}
/* Style for explore */

.Explore {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #f29a49;
}

.Explore h1 {
  margin-bottom: 15px;
  color: white;
}
.Explore h2 {
  margin-top: 20px;
  color: white;
  font-weight: 400;
  font-size: 38px;
}
.Explore p {
  margin-bottom: 25px;
  color: rgb(19, 19, 71);
  font-weight: 500;
  color: #5e5d5f;
}
.Explore .col-md-6 button {
  background-color: white !important;
  border: none;
  color: #093e72;
  font-weight: 600;
  font-size: 15px;
}

/* Style for inspired */
.Inspired {
  padding-top: 80px;

  display: relative;
}
.Inspired .row {
  justify-content: center;
}

.Inspired .col-md-6:nth-of-type(1) h2 {
  padding-top: 10px;
  padding-left: 100px;
  color: #16497a;
  padding-right: 100px;
  padding-bottom: 32px;
}

.Inspired .col-md-6 h2 span {
  color: #053b70;
}
.Inspired .col-md-6:nth-of-type(1) .text-box {
  width: 500px;
  padding: 60px;
  color: white;
  background-color: #00376d;
  margin-left: 100px;
}
.Inspired .col-md-6:nth-of-type(1) .text-box p {
  font-weight: 400;
  font-size: 16px;
}
.Inspired .col-md-6:nth-of-type(1) .text-box h6 {
  font-weight: 400;
  font-size: 12px;
}

.fa-angle-left {
  position: absolute;
  left: 562%;
  top: 64%;
  border: 1px solid black;
  background-color: black;
  border-radius: 100%;
  padding: 18px;
  transform: translate(0px, 55px);
  filter: invert(100%);
  opacity: 1 !important;
}

.fa-angle-right {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 100%;
  position: absolute;
  left: 0%;
  transform: translate(50px, 50px);
  padding: 18px;
  filter: invert(100%);
  margin-top: 70px;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1 !important;
  transition: opacity 0.15s ease;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: block;
}

/* Sytle for news letter section */

.Subscribe {
  padding-top: 70px;
  padding-bottom: 70px;
  display: relative;
  background-color: #4c5fe4;
  z-index: -30;
}

.Subscribe .col-md-6 h2 {
  color: white;
  margin-left: 100px;
}
.Subscribe .col-md-6:nth-of-type(2) label {
  display: block;
  margin-bottom: 10px;
  color: white;
}
.Subscribe .col-md-6:nth-of-type(2) input {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  background: transparent;
}
.Subscribe .col-md-6:nth-of-type(2) .checkbox {
  display: flex;
  align-items: center;
  color: white;
}
.Subscribe .col-md-6:nth-of-type(2) .checkbox input {
  margin-right: 15px;
  border-radius: 100%;
}
.Subscribe .col-md-6:nth-of-type(2) .checkbox p {
  margin-top: 5px;
  z-index: 2;
}

.Subscribe .col-md-6:nth-of-type(2) .checkbox img {
  position: absolute;
  z-index: 1;
  left: 63.8%;
  transform: translate(0px, -65px);
}

/* style for start learning */

.start-learning {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #00376d;
  position: relative;
}
.start-learning .col-md-12 {
  text-align: center;
}
.start-learning h2 {
  color: White;
}
.start-learning p {
  color: White;
}
.start-learning .col-md-12 img:nth-of-type(2) {
  position: absolute;
  transform: translate(120px, -115px);
}

.start-learning .col-md-12 img:nth-of-type(1) {
  position: absolute;
  left: 0%;
  transform: translate(-10px, -20px);
}

/* Style for footer section */
footer:nth-of-type(1) {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer a {
  text-decoration: none;
  font-size: 14px;
  color: #6d6d6d;
}
footer a:hover {
  text-decoration: underline;
}
footer .social-icon {
  display: flex;
}

footer .social-icon li {
  list-style: none;
  margin-left: 15px;
}
footer .social-icon li:nth-of-type(1) {
  margin-left: 0px;
}

footer .social-icon li i {
  color: white;
  background-color: rgb(26, 147, 195);
  padding: 6px;
  border-radius: 100%;
  border: none;
}
footer .social-icon li i:hover {
  background-color: black;
}

.lastfooter {
  padding-top: 10px;
  background-color: #e1e1e1;
}
.lastfooter .container {
  display: flex;

  justify-content: space-between;
}
.lastfooter .container p {
  font-size: 12px;
}
